body {
    background: url('../images/osen.jpg');
    padding-top: 10px;
    width: 1200px;
    margin: 0 auto;
}

.block {
    background: rgb(103, 105, 107);
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    width: 1200px;
}

.link {
    color: black;
}

.menu {
    background: rgb(104, 141, 104);
    list-style-type: none;
    box-sizing: border-box;
    border: 2px solid grey;
    font-size: 20px;
    float: left;
    width: 240px;
    margin: 0;
    height: 200px;
}

.verse {
    text-align: center;
    box-sizing: border-box;
    width: 720px;
    border: 2px solid black;
    font-size: 28px;
    display: inline-block;
    background: rgb(230, 208, 113);
    padding-bottom: 50px;
}

.description {
    background: rgb(104, 141, 104);
    box-sizing: border-box;
    border: 2px solid grey;
    font-size: 20px;
    float: right;
    width: 240px;
    padding-right: 38px;
    height: 200px;
}

.footer {
    text-align: center;
    border: 1px solid black;
    background: grey;
}