body {
    background: url('../images/osen.jpg');
    padding-top: 10px;
    width: 1200px;
    margin: 0 auto;
}

.blok {
    background: rgb(103, 105, 107);
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 20px;
    width: 1200px;
    height: 25px;
}

a {
    color: black;
}

ul {
    background: rgb(104, 141, 104);
    list-style-type: none;
    border: 2px solid grey;
    font-size: 20px;
    float: left;
    width: 200px;
    margin: 0;
    height: 200px;
    position: absolute;
    top: 65px;
    left: 360px;
}

.ruru {
    text-align: center;
    width: 735px;
    border: 2px solid black;
    font-size: 28px;
    display: inline-block;
    background: rgb(230, 208, 113);
    height: 850px;
    position: absolute;
    top: 65px;
    left: 600px;
}

.ruru2 {
    background: rgb(104, 141, 104);
    border: 2px solid grey;
    font-size: 20px;
    float: right;
    width: 200px;
    padding-right: 38px;
    height: 200px;
    position: absolute;
    top: 65px;
    right: 340px;
}

.ruru3 {
    text-align: center;
    border: 1px solid black;
    background: grey;
    position: absolute;
    bottom: 10px;
    left: 360px;
    width: 1200px;
    height: 30px;
}